@model SingleBookViewModel
@inject ApplicationUser User

<section class="content content--narrow content--no-padding-bottom">

    <article class="row format-standard">

        <div class="col-full">
            <h1 class="book-details-title">
                @Model.Book.Title
            </h1>
            <div class="book-details-author">
                By <span>@Model.Book.Author</span>
            </div>
            <ul class="book-details-meta">
                <li class="date">Published on @Model.Book.PublicationYear.ToString("MMMM dd, yyyy")</li>
                <li class="genres">
                    Genre: <a href="#0">@String.Join(", ", Model.Properties.Genres)</a>
                </li>
            </ul>
            <div class="book-details-rating">
                <span>Rating : </span>
                @await Html.PartialAsync("_RatingPartial", new KeyValuePair<string, decimal>(Model.Book.Title, Model.Book.Rating))
                <span>@Model.Book.Rating</span>
                <span class="number-of-ratings">Number of ratings : @Model.Book.RatesCount</span>
            </div>
        </div>
        <div class="book-details-content">
            <div class="book-details-image">
                <img src="@Model.Book.CoverUrl" alt="">
            </div>

            <p class="book-details-description">
                @Model.Book.Description
                <a class="description-see-more">more</a>
            </p>

        </div>

        <div class="book-details-after">
            <div class="dropdown-rating">

                @if (Model.IsRated)
                {
                    <span>You have alredy rated this book! <br /> Your rating is : @Model.UserRating <br /></span>
                }

                <button class="dropbtn">Rate Book</button>
                <div class="dropdown-content">
                    <a href="#" onclick="rate(1)">1 - Bad</a>
                    <a href="#" onclick="rate(2)">2 - Ok</a>
                    <a href="#" onclick="rate(3)">3 - Liked it</a>
                    <a href="#" onclick="rate(4)">4 - Good</a>
                    <a href="#" onclick="rate(5)">5 - Great!</a>
                </div>

            </div>
            <p class="content-tags">
                <span>Post Tags</span>
                <span class="content-tag-list">

                    @foreach (var tag in Model.Properties.Tags)
                    {
                        <a href="#0">@tag</a>
                    }
                </span>
            </p>
        </div>
        <div class="book-details-btn">
            <button id="addToRead" onclick="addToRead()">Want To Read</button>
            <button id="addCurrentlyReading" onclick="addCurrentyReading()">Currently Reading</button>
            <button id="addRead" onclick="addRead()">Read</button>
            <br />
            <span>Add to yor collections</span>
        </div>

    </article>

    <div class="comments-wrapper">

        <div id="comments" class="row">
            <div class="col-full">
                <h3 class="h2">2 Comments</h3>

                <ol class="commentlist">

                    @foreach (var comment in Model.Properties.Comments)
                    {
                        <li class=" comment">
                            <div class="comment-author">
                                <img width="50" height="50" class="avatar" src="~/images/avatars/user-male.png" alt="">
                            </div>

                            <div class="comment-content">

                                <div class="comment-info">
                                    <cite>@comment.Author</cite>
                                    <div class="comment-meta">
                                        <time class="comment-time">@comment.Date</time>
                                    </div>
                                </div>

                                <div class="comment-text">
                                    <p>@comment.Content</p>
                                </div>
                            </div>
                        </li>
                    }
                </ol>
                <div class="respond">
                    <h3 class="h2">Add Comment</h3>
                    <fieldset>
                        <div class="message form-field">
                            <textarea name="comment-message" id="comment-message" class="full-width" placeholder="Your Comment"></textarea>
                        </div>

                        <button id="addComment" onclick="addComment()"  class="submit btn--primary btn--large full-width">Comment</button>

                    </fieldset>

                </div>
            </div>

        </div>
    </div>
</section>

<script>
    function addRead() {
        $.ajax({
            type: "POST",
            url: "/UserBooks/AddBook",
            data: { id: "@Model.Book.BookId", collection: 'Read' },
            error: (response) => {
                displayError('Error adding book to collection');
            }
        })
    }

    function addToRead() {
        $.ajax({
            type: "POST",
            url: "/UserBooks/AddBook",
            data: { id: "@Model.Book.BookId", collection : 'ToRead' },
            error: (response) => {
                displayError('Error adding book to collection');
            }
        })
    }

    function addCurrentyReading() {
        $.ajax({
            type: "POST",
            url: "/UserBooks/AddBook",
            data: { id: "@Model.Book.BookId", collection: 'CurrentlyReading' },
            error: (response) => {
                displayError('Error adding book to collection');
            }
        })
    }

    function rate(userRate) {
        $.ajax({
            type: "POST",
            url: "/UserBooks/RateBook",
            data: { id: "@Model.Book.BookId", rate: userRate },
            success: function (data) {
                s
                location.reload();
            },
            error: (response) => {
                displayError('Error adding book to collection');
            },
            cache: false
        })
    }

    function addComment() {
        let content = $('#comment-message').val()
         $.ajax({
             type: "POST",
             url: "/Book/AddComment",
             data: { id: "@Model.Book.BookId", comment: content@*, userId : @User.Id*@},
             error: (response) => {
                displayError('Error adding comment to book');
             },
         })
    }
</script>

