@model SingleBookViewModel
@inject ApplicationUser User

<section class="content content--narrow content--no-padding-bottom">

    <article class="row format-standard">

        <div class="col-full">
            <h1 class="book-details-title">
                @Model.Book.Title
            </h1>
            <div class="book-details-author">
                By <span>@Model.Book.Author</span>
            </div>
            <ul class="book-details-meta">
                <li class="date">Published on @Model.Book.PublicationYear.ToString("MMMM dd, yyyy")</li>
                <li class="genres">
                    Genre: <a href="#0">@String.Join(", ", Model.Properties.Genres)</a>
                </li>
            </ul>
            <div class="book-details-rating">
                <span>Rating : </span>
                @await Html.PartialAsync("_RatingPartial", new KeyValuePair<string, decimal>(Model.Book.Title, Model.Book.Rating))
                <span>@Model.Book.Rating</span>
                <span class="number-of-ratings">Number of ratings : @Model.Book.RatesCount</span>
            </div>
        </div>
        <div class="book-details-content">
            <div class="book-details-image">
                <img src="@Model.Book.CoverUrl" alt="">
            </div>

            <p class="book-details-description">
                @Model.Book.Description
                <a class="description-see-more">more</a>
            </p>

        </div>

        <div class="book-details-after">
            <div class="dropdown-rating">

                @if (Model.IsRated)
                {
                    <span>You have alredy rated this book! <br /> Your rating is : @Model.UserRating <br /></span>
                }

                <button class="dropbtn">Rate Book</button>
                <div class="dropdown-content">
                    <a href="#" onclick="rate('@Model.Book.BookId', '@Model.Book.Title', 1)">1 - Bad</a>
                    <a href="#" onclick="rate('@Model.Book.BookId', '@Model.Book.Title', 2)">2 - Ok</a>
                    <a href="#" onclick="rate('@Model.Book.BookId', '@Model.Book.Title', 3)">3 - Liked it</a>
                    <a href="#" onclick="rate('@Model.Book.BookId', '@Model.Book.Title', 4)">4 - Good</a>
                    <a href="#" onclick="rate('@Model.Book.BookId', '@Model.Book.Title', 5)">5 - Great!</a>
                </div>

            </div>
            <p class="content-tags">
                <span>Post Tags</span>
                <span class="content-tag-list">

                    @foreach (var tag in Model.Properties.Tags)
                    {
                        <a href="#0">@tag</a>
                    }
                </span>
            </p>
        </div>
        <div class="book-details-btn">
            <button id="addToRead" onclick="addToRead('@Model.Book.BookId', '@Model.Book.Title')">Want To Read</button>
            <button id="addCurrentlyReading" onclick="addCurrentyReading('@Model.Book.BookId', '@Model.Book.Title')">Currently Reading</button>
            <button id="addRead" onclick="addRead('@Model.Book.BookId', '@Model.Book.Title')">Read</button>
            <br />
            <span>Add to yor collections</span>
        </div>
    </article>
            @await Html.PartialAsync("Book/_BookCommentsPartial")
</section>
