@model SingleBookViewModel
@inject SignInManager<ApplicationUser> SignInManager


<section class="content content--narrow content--no-padding-bottom">

    <article class="row format-standard">

        <div class="col-full">
            <h1 class="book-details-title">
                @Model.Book.Title
            </h1>
            <div class="book-details-author">
                By <span>@Model.Book.Author</span>
            </div>
            <ul class="book-details-meta">
                <li class="date">Published on @Model.Book.PublicationYear.ToString("MMMM dd, yyyy")</li>
                <li class="genres">
                    Genre:
                    @foreach (var genre in Model.Properties.Genres)
                    {
                        <a asp-controller="Book" asp-action="Search" asp-route-filter="@genre" asp-route-filterRadio="genre">@genre</a>
                    }
                </li>
            </ul>

            <div class="book-details-rating">
                <span>Rating : </span>
                @await Html.PartialAsync("_RatingPartial", new KeyValuePair<string, decimal>(Model.Book.Title, Model.Book.Rating))
                <span>@Model.Book.Rating</span>
                <span class="number-of-ratings">Number of ratings : @Model.Book.RatesCount</span>
            </div>
        </div>
        <div class="book-details-content">
            <div class="book-details-image">
                <img src="@Model.Book.CoverUrl" alt="">
            </div>

            <p class="book-details-description">
                @Model.Book.Description
            </p>

        </div>

        <div class="book-details-after">

            @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
            {
                @await Html.PartialAsync("Book/_BookRatePartial")
            }

            <p class="content-tags">
                <span>Post Tags</span>
                <span class="content-tag-list">

                    @foreach (var tag in Model.Properties.Tags)
                    {
                        <a asp-controller="Book" asp-action="Search" asp-route-filter="@tag" asp-route-filterRadio="tag">@tag</a>
                    }
                </span>
            </p>
        </div>


        @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
        {
            <div class="book-details-btn">
                <button id="addToRead" onclick="addToRead('@Model.Book.BookId', '@Model.Book.Title')">Want To Read</button>
                <button id="addCurrentlyReading" onclick="addCurrentyReading('@Model.Book.BookId', '@Model.Book.Title')">Currently Reading</button>
                <button id="addRead" onclick="addRead('@Model.Book.BookId', '@Model.Book.Title')">Read</button>
                <br />
                <span>Add to yor collections</span>
            </div>
        }
    </article>
    @if (SignInManager.IsSignedIn(User))
    {
        @await Html.PartialAsync("Book/_BookCommentsPartial")
    }

</section>
