@model UserBookViewModel
<tr>
    <td>
        <a asp-action="BookDetails" asp-controller="Book" asp-route-id="@Model.BookId">
            <img src="@Model.CoverUrl" alt="">
        </a>
    </td>
    <td><a asp-action="BookDetails" asp-controller="Book" asp-route-id="@Model.BookId">@Model.Title</a></td>
    <td>@Model.Author</td>
    <td>@Model.Rating</td>
    <td>@Model.PublicationYear.ToString("MMMM dd yyyy")</td>
    <td><a asp-controller="UserBooks" asp-action="RemoveBook" asp-route-id="@Model.BookId" 
           onfocus="showSuccessMessage('Removed book @Model.Title')"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
</tr>
