
@{
    ViewData["Title"] = "AllBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books-heading">
    <p>All Books</p>
</div>
<table class="user-books-table">
        <tr>
            <th>Cover</th>
            <th style="width: 25%">Title</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Publication Year</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    <tbody>
        @foreach (var book in @Model)
        {
        <tr>
            <td><img src="@book.CoverUrl" height="100" width="100"></td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Isbn</td>
            <td>@book.PublicationYear</td>
            <td>@book.Rating</td>
            <td><a asp-area="Admin" asp-controller="Admin" asp-action="EditBook" asp-route-bookid="@book.BookId" class="btn">Edit</a>
            <a asp-area="" asp-controller="Book" asp-action="BookDetails"asp-route-id="@book.BookId" class="btn">Details</a>
            <a asp-area="Admin" asp-controller="Admin" asp-action="DeleteBook" asp-route-bookid="@book.BookId" class="btn">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
