
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books-heading">
    <p>All Users</p>
</div>
<table class="user-books-table">
        <tr>
            <th>Picture</th>
            <th>Username</th>
            <th>Email</th>
            <th>Allowed</th>
            <th>Admin rights</th>
            <th>Actions</th>
        </tr>
    <tbody>
        @foreach (var user in @Model)
        {
                <tr>
                    <td><img src="@user.ProfilePictureUrl" style="object-fit:contain; border-radius: 10px;" src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"></td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.isAllowed</td>
                    <td>@user.isAdmin</td>
                    <td><a asp-area="Admin" asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id" class="btn">Edit</a></td>
                </tr>
        }
    </tbody>
</table>

