@model KeyValuePair<string, IEnumerable<CommentViewModel>>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="comments-wrapper">
    <div id="comments" class="row">
        <div class="col-full">
            <h4 class="h2">@Model.Value.Count() Comments</h4>
            <ol class="commentlist">
                @foreach (var comment in Model.Value.OrderByDescending(c => c.Date))
                {
                    <li class="comment">
                        <div class="comment-author">
                            <img width="50" height="50" class="avatar" srcset="@comment.AuthorPicUrl, https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png ">

                        </div>
                        <div class="comment-content">
                            <div class="comment-info">
                                <div class="comment-meta">
                                    <cite>@comment.Author</cite>
                                    <time class="comment-time">@comment.Date</time>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p>@comment.Content</p>
                            </div>
                        </div>
                        @if (comment.CanEdit)
                        {
                            <div class="comment">
                                <a onclick="deleteComment('@comment.CommentId')">
                                    <i class="fa fa-trash" aria-hidden="true" title="Delete comment"></i>
                                </a>
                                <a onclick="editComment('@comment.CommentId')"><i class="fa fa-eraser" aria-hidden="true" title="Edit comment"></i></a>

                            </div>
                        }
                    </li>
                }
            </ol>
            @if (SignInManager.IsSignedIn(User))
            {
                <dialog>
                    <text>Text</text>
                </dialog>
                <div class="respond">
                    <h3 class="h2">Add Comment</h3>
                    <fieldset>
                        <div class="message form-field">
                            <textarea name="comment-message" id="comment-message" class="full-width" placeholder="Your Comment"></textarea>
                        </div>
                        <button id="addComment" onclick="addComment('@Model.Key','@UserManager.GetUserId(User)')" class="submit btn--primary btn--large full-width">Comment</button>
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function deleteComment(commentId) {
        let commentData = {};
        commentData.CommentId = commentId;

        $.ajax({
            type: "POST",
            url: "/Comment/DeleteCommentAsync",
            data: commentData,
            success: (htmlData) => {
                $('#commentsDiv').html(htmlData);
            },
            error: (response) => {
                displayError('Error deleting comment');
            }
        })
    }
   
    function editComment(commentId) {
        let commentData = {};
        commentData.CommentId = commentId;

        $.ajax({
            type: "GET",
            url: "/Comment/EditCommentAsync",
            data: commentData,
            success: (htmlData) => {
                $('#commentsDiv').html(htmlData);
            },
            error: (response) => {
                displayError('Error editing comment');
            }
        })
    }
</script>