@model BookOfTheDayViewModel



<div class="header-book-heading">
    <p>Book of the day</p>
</div>

<div class="header-single-book">
    <div class="header-book-img">
        <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@Model.BookId">
            <img src="@Model.CoverUrl" alt="">
        </a>
    </div>


    <div class="header-book-info">

        <div class="header-book-title">
            <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@Model.BookId">
                @Model.Title
            </a>
        </div>
        <div class="header-book-description">
            <p>
                @*Model.Description*@
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <div class="header-book-rating">
            @await Html.PartialAsync("_RatingPartial", new KeyValuePair<string, decimal>(Model.Title, Model.Rating))

            <span>Rating : @Model.Rating</span>
        </div>

        <div class="header-book-btn">
            <button id="addToRead" onclick="addToRead()">Want To Read</button>
            <button id="addFavourite" onclick="addFavourite()">Currently Reading</button>
            <button id="addRead" onclick="addRead()">Read</button>
        </div>
    </div>
</div>

<script>
    function addRead() {
        $.ajax({
            type: "DELETE",
            url: "/UserBooks/AddBook",
            data: { id: "@Model.BookId", collection : 'Read' },
            success: (response) => {
                alert(response);
            },
            error: (response) => {
                displayError('Error adding book to collection');
            }
        })
    }

    function addToRead() {
        $.ajax({
            type: "DELETE",
            url: "/UserBooks/AddBook",
            data: { id: "@Model.BookId", collection : 'ToRead' },
            error: (response) => {
                displayError('Error adding book to collection');
            }
        })
    }

    function addFavourite() {
        $.ajax({
            type: "DELETE",
            url: "/UserBooks/AddBook",
            data: { id: "@Model.BookId", collection : 'Favourite' },
            error: (response) => {
                displayError('Error adding book to collection');
            }
        })
    }
</script>