@model SingleBookViewModel
@inject ApplicationUser user

<div class="comments-wrapper">
    <div id="comments" class="row">
        <div class="col-full">
            <h4 class="h2">@Model.Properties.Comments.Count() Comments</h4>
            <ol class="commentlist">
                @foreach (var comment in Model.Properties.Comments.OrderByDescending(c => c.Date))
                {
                    <li class=" comment">
                        <div class="comment-author">
                            <img width="50" height="50" class="avatar" src="~/images/avatars/user-male.png" alt="">
                            
                        </div>
                        <div class="comment-content">
                            <div class="comment-info">
                                <div class="comment-meta">
                                    <cite>@comment.Author</cite>
                                    <time class="comment-time">@comment.Date</time>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p>@comment.Content</p>
                            </div>
                        </div>
                    </li>
                }
            </ol>
            <div class="respond">
                <h3 class="h2">Add Comment</h3>
                <fieldset>
                    <div class="message form-field">
                        <textarea name="comment-message" id="comment-message" class="full-width" placeholder="Your Comment"></textarea>
                    </div>
                    <button id="addComment" onclick="addComment('@Model.Book.BookId','@user.Id')" class="submit btn--primary btn--large full-width">Comment</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>