@model NewBookViewModel

<article class="col-block popular-entry">
    <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@Model.BookId" class="popular-thumb">
        <img src="@Model.CoverUrl" alt="">
    </a>
    <h5><a asp-controller="Book" asp-action="BookDetails" asp-route-id="@Model.BookId">@Model.Title</a></h5>
    <section class="popular-meta">
        <span class="popular-author">By <i>@Model.Author</i></span>
    </section>
</article>